.scoreMax {
    color: #671421;
}

.score {
    max-height: 120px;
    margin: 0 auto 15px;
    border: 4px solid #1b1d33;
    border-radius: 5px;
    min-width: 316px;
    text-align: center;
    padding-bottom: 20px;

}
